<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="login">
                      <h1>Login to Webapp Analytics</h1>
                      <form method="post" action="login.jag">
                        <p><input type="text" name="username" value="" placeholder="Username"></p>
                        <p><input type="password" name="password" value="" placeholder="Password"></p>
                        <p class="submit"><input type="submit" name="commit" value="Login"></p>
                      </form>
                    </div>
            </div>
        </div>
    </div>
</div>
